:root {
  /** primary **/
  --primary: #015890;
  --primary-rgb: 1,88,144;
  --primary-contrast: #ffffff;
  --primary-contrast-rgb: 255,255,255;
  --primary-shade: #014d7f;
  --primary-tint: #1a699b;

  /** secondary **/
  --secondary: #0cd1e8;
  --secondary-rgb: 12, 209, 232;
  --secondary-contrast: #ffffff;
  --secondary-contrast-rgb: 255, 255, 255;
  --secondary-shade: #0bb8cc;
  --secondary-tint: #24d6ea;

  /** tertiary **/
  --tertiary: #7044ff;
  --tertiary-rgb: 112, 68, 255;
  --tertiary-contrast: #ffffff;
  --tertiary-contrast-rgb: 255, 255, 255;
  --tertiary-shade: #633ce0;
  --tertiary-tint: #7e57ff;

  /** success **/
  --success: #10dc60;
  --success-rgb: 16, 220, 96;
  --success-contrast: #ffffff;
  --success-contrast-rgb: 255, 255, 255;
  --success-shade: #0ec254;
  --success-tint: #28e070;

  /** warning **/
  --warning: #ffce00;
  --warning-rgb: 255, 206, 0;
  --warning-contrast: #ffffff;
  --warning-contrast-rgb: 255, 255, 255;
  --warning-shade: #e0b500;
  --warning-tint: #ffd31a;

  /** danger **/
  --danger: #f04141;
  --danger-rgb: 245, 61, 61;
  --danger-contrast: #ffffff;
  --danger-contrast-rgb: 255, 255, 255;
  --danger-shade: #d33939;
  --danger-tint: #f25454;

  /** dark **/
  --dark: #222428;
  --dark-rgb: 34, 34, 34;
  --dark-contrast: #ffffff;
  --dark-contrast-rgb: 255, 255, 255;
  --dark-shade: #1e2023;
  --dark-tint: #383a3e;

  /** medium **/
  --medium: #989aa2;
  --medium-rgb: 152, 154, 162;
  --medium-contrast: #ffffff;
  --medium-contrast-rgb: 255, 255, 255;
  --medium-shade: #86888f;
  --medium-tint: #a2a4ab;

  /** light **/
  --light: #f4f5f8;
  --light-rgb: 244, 244, 244;
  --light-contrast: #000000;
  --light-contrast-rgb: 0, 0, 0;
  --light-shade: #d7d8da;
  --light-tint: #f5f6f9;
}
